<!------- update popup------- -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">update info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/update/{{i.id}}" method="POST" id="form1" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="name1" placeholder="Enter Name" name="name">
            <label for="name">Name</label>
          </div>
          <div class="form-floating mt-3 mb-3">
            <input type="date" class="form-control" id="age1" placeholder="age" name="age">
            <label for="age">Age</label>
          </div>

          <h2>Gender</h2>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="male1" name="gender" value="male">
            <label class="form-check-label" for="radio1">Male</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="female1" name="gender" value="female">
            <label class="form-check-label" for="radio2">Female</label>
          </div>

          <div>
            <label for="sel1" class="form-label">Degree (select one):</label>
            <select class="form-select" id="sel1" name="degree">
              <option> Select </option>
              <option>B.A. (Bachelor of Arts)</option>
              <option>B.Com. (Bachelor of Commerce)</option>
              <option>B.Sc. (Bachelor of Science)</option>
              <option>B.E.(Bachelor of Engineering)</option>
            </select>
          </div>
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="address1" placeholder="Enter Name" name="address">

            <label for="name">Address</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>



















<!------- delete popup------- -->
<div class="modal fade" id="deleteModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Are you sure to delete ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete now </a>

      </div>
    </div>
  </div>
</div>